---
layout: textseite.njk
seite: ki-teambesuch
title: KI-Teambesuch - KI for Good - Trainings & Tools für KI in NGOS
description: Wir besuchen euch in euren Team-Meetings und beantworten eure Fragen rund um KI. Gratis, unkompliziert und kompetent.
permalink: /ki-teambesuch/
bodyclass: wp-singular page-template-default page page-id-219 wp-custom-logo wp-embed-responsive wp-theme-twentytwentyfour
css: ki-teambesuch
---
