---
layout: textseite.njk
seite: kontakt
title: Trainer*innen zum Thema KI in Non-Profits - KI for Good - Trainings & Tools für KI in NGOS
description: Kompetente Trainerinnen zu KI für Vereine und Non Profits
permalink: /kontakt/
bodyclass: wp-singular page-template-default page page-id-59 wp-custom-logo wp-embed-responsive wp-theme-twentytwentyfour
css: kontakt
---
