---
layout: textseite.njk
seite: orientierungshilfe
title: Vorlage für Leitlinien - KI for Good - Trainings & Tools für KI in NGOS
description: Julias Orientierungshilfe macht euch Vorschläge für den ethischen und sicheren Einsatz von KI in euren ersten KI-Experimenten.
permalink: /orientierungshilfe/
bodyclass: wp-singular page-template-default page page-id-357 wp-custom-logo wp-embed-responsive wp-theme-twentytwentyfour
css: orientierungshilfe
---
