---
title: Wissenspool - KI for Good - Trainings & Tools für KI in NGOS
description: Unsere liebsten Leitfäden, Ressourcen, News und Linktipps rund um KI für NGOs. Extra für dich zusammengestellt.
permalink: /wissenspool/
bodyclass: wp-singular page-template-default page page-id-33 wp-custom-logo wp-embed-responsive wp-theme-twentytwentyfour
css: wissenspool
---
{% raw %}<main id="wp--skip-link--target" class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<div style="height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>


<h1 class="has-text-align-center wp-block-post-title">Wissenspool</h1>


<div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
</div>


<div class="entry-content wp-block-post-content has-global-padding is-layout-constrained wp-block-post-content-is-layout-constrained">
<p class="wp-block-paragraph"><em>Unsere Favoriten</em></p>{% endraw %}
{% include "partials/wissenspool.njk" %}
{% raw %}<div class="wp-block-cover alignfull is-light has-parallax" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);min-height:100vh;aspect-ratio:unset;"><div class="wp-block-cover__image-background wp-image-38 has-parallax" style="background-position:50% 50%;background-image:url(/wp-content/uploads/2024/04/DALL·E-2024-04-25-17.35.01-Highly-detailed-image-in-the-style-of-a-childrens-book-illustration-showing-a-scene-of-the-male-dragon-Ki-as-previously-depicted-flying-through-a-f.webp)"></div><span aria-hidden="true" class="wp-block-cover__background has-base-background-color has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container has-global-padding is-layout-constrained wp-container-core-cover-is-layout-0979e81e wp-block-cover-is-layout-constrained">
<div aria-hidden="true" class="wp-block-spacer" style="height:500px"></div>
</div></div>
<div class="wp-block-group alignfull has-base-2-background-color has-background has-global-padding is-layout-constrained wp-container-core-group-is-layout-af3670d6 wp-block-group-is-layout-constrained" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)">
<div class="wp-block-group alignwide is-layout-flow wp-block-group-is-layout-flow">
<div aria-hidden="true" class="wp-block-spacer" style="height:var(--wp--preset--spacing--50)"></div>
<p class="has-text-align-center has-heading-font-family has-x-large-font-size wp-block-paragraph" style="font-style:normal;font-weight:400;line-height:1.2">Nutzt unsere Ressourcen und lernt, den KI-Drachen nicht nur zu zähmen, sondern mit ihm in neue Höhen zu fliegen!</p>
<div aria-hidden="true" class="wp-block-spacer" style="height:var(--wp--preset--spacing--50)"></div>
</div>
</div>
</div></main>{% endraw %}
