{#- Termine-Liste der Seite /workshops/. Daten: src/_data/termine.yaml -#}
{%- set spalten = "wp-block-columns is-layout-flex wp-container-core-columns-is-layout-3a88641f wp-block-columns-is-layout-flex" -%}
{%- set spalte = "wp-block-column is-layout-flow wp-block-column-is-layout-flow" -%}

{% for monat in termine.termine | nachMonat %}
<div class="wp-block-group alignwide is-layout-flow wp-block-group-is-layout-flow">
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
<div class="{{ spalten }}">
<div class="{{ spalte }}" style="flex-basis:33.33%">
<h3 class="wp-block-heading">{{ monat.name }}</h3>
</div>
<div class="{{ spalte }}" style="flex-basis:66.66%">
{%- for t in monat.termine %}
<p class="wp-block-paragraph"><em>{{ t.anbieter }}</em><br><a href="{{ t.url }}" target="_blank" rel="noreferrer noopener"><strong>{{ t.titel }}</strong></a><br>{% if t.mit %}<em>mit {{ t.mit }}</em><br>{% endif %}📅 {{ t | terminZeile }}<br><a href="{{ t.url }}" target="_blank" rel="noreferrer noopener">Mehr Infos</a></p>
{%- if not loop.last %}
<p class="wp-block-paragraph"></p>
{%- endif %}
{%- endfor %}
</div>
</div>
</div>
<p class="wp-block-paragraph"></p>
<p class="wp-block-paragraph"></p>
{% else %}
<div class="wp-block-group alignwide is-layout-flow wp-block-group-is-layout-flow">
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
<p class="wp-block-paragraph">Aktuell sind keine Termine eingetragen.</p>
</div>
{% endfor %}
